<h1>Results Page!!!</h1>
<ul>
    <% for(let movie of data["Search"]) { %>
        <li>
            <strong><%= movie["Title"] %></strong> - <%= movie["Year"] %>
        </li>
    <% }; %>
</ul>

<a href="/">Search again!</a>